

$mcdonalds-red: #c11f09;
$mcdonalds-yellow: #fbc64d;

//hamburger line styles
.icon-bar {
  width: 38px;
  height: 6px;
  background-color: $mcdonalds-yellow;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
}

.navigation__wrapper {
  background: $mcdonalds-red;
}

//hamburger animation
.navbar {
  z-index: 10000; //to make sure emoji doesn't overlap nav
}

.navbar-toggler {
  border: none;
  background: transparent !important;
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  &.collapsed {
    .top-bar {
      transform: rotate(0);
    }
    .middle-bar {
      opacity: 1;
    }
    .bottom-bar {
      transform: rotate(0);
    }
  }
}

//Links in hamburger menu
.nav-link {
  font-size: 1.5em;
}

.jeefacetransferCanvas {
  width: 15em;
}

//Styling for weboji

body {
  overflow: auto;
  overflow-y: auto;
  
  margin: 0;
}

.jeefacetransferCanvas {
  z-index: 20;
  position: absolute;
  bottom: 0px;
  left: 0px;
  max-height: 25vh;
  width: 100px;
  height: 80px;
  display: none;
}

.webojiCanvas {
  z-index: 10;
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  left: 50%;
  top: 50%;
  width: 100vmin;
  transform: translate(-50%, -50%);
}

#captureFrameBtn {
  bottom: 0;
  width: 100%;
  border-radius: 0;
  position: fixed;
  padding: 20px 0;
}

#capturedImage {
  width: 100%;
}

.modal-header,
.modal-footer {
  background: #c11f09;
  color: white;
}

.modal-content {
  .close {
    color: white;
    opacity: 1;
  }
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
  top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/spinner.gif) center no-repeat #fff;
}

.brand-logo {
  width: 50px;
  margin: 10px;
}

.jumbotron {
  background-color: $mcdonalds-yellow;
}
