//hamburger line styles
.icon-bar {
  width: 38px;
  height: 6px;
  background-color: rgb(252, 198, 77);;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
}

.navigation__wrapper {
  background: #c11f09;
}

//hamburger animation
.navbar {
  z-index: 100; //to make sure emoji doesn't overlap nav
}

.navbar-toggler {
  border: none;
  background: transparent !important;
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  &.collapsed {
    .top-bar {
      transform: rotate(0);
    }
    .middle-bar {
      opacity: 1;
    }
    .bottom-bar {
      transform: rotate(0);
    }
  }
}

//Links in hamburger menu
.nav-link {
  font-size: 1.5em;
}

.jeefacetransferCanvas {
  width: 15em;
}

//Styling for weboji
.animated-bg {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 800%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  overflow: auto;
  overflow-y: auto;
  
  margin: 0;
}

.jeefacetransferCanvas {
  z-index: 20;
  position: absolute;
  bottom: 0px;
  left: 0px;
  max-height: 25vh;
  width: 100px;
  height: 80px;
  display: none;
}

.webojiCanvas {
  z-index: 10;
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  left: 50%;
  top: 50%;
  width: 100vmin;
  transform: translate(-50%, -50%);
}

#captureFrameBtn {
  bottom: 0;
  width: 100%;
  border-radius: 0;
  position: fixed;
  padding: 20px 0;
}

#capturedImage {
  width: 100%;
}

.modal-header,
.modal-footer {
  background: #c11f09;
  color: white;
}

.modal-content {
  .close {
    color: white;
    opacity: 1;
  }
}
